<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>


    <% result = connection.exec("select * from crops where give_for != '自家消費' and quality = true;") %>
    <% data1 = [] %>

    <% result.each do |record| %>
      <%  data1 << "ゴーヤの大きさ：#{record["weight"]} | 売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="kadai.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないgoyaの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya1" value="<%= data1.join('<br>') %>">
      <input type="submit" name="送信" >
    </form>


    <% result = connection.exec("select * from crops where quality = false;") %>
    <% data2 = [] %>

    <% result.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]} | 品質：#{record["quality"]}" %>
    <% end %>

    <form action="kadai2.cgi" method="POST">
       下記のボタンを押すと、品質が悪いgoyaの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya2" value="<%= data2.join('<br>') %>">
      <input type="submit" name="送信" >
    </form>

  </body>
</html>
